@use 'base/variables' as v;
@use 'base/mixins' as m;


html {
    font-size: 62.5%;       /* 1rem = 10px */
    box-sizing: border-box;
}

*,*:before, *:after {
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$claro;

    @include m.tablet { 
        font-size: 1.8rem;      
    }
}


a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: v.$claro;
    transition-duration: .5s;
    transition-property: font-size;

    &.activo {
        color: v.$rosa; 
        text-shadow: 0 0 5px v.$blanco;
    }
}
a:hover {
    font-size: 2rem;
    color: v.$rosa;   
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

span{
    font-weight: bold;
}
.contenedor {
    width: 75%;
    max-width: 120rem;
    margin: 0 auto;
}



