
/* Fuentes */
$fuentePrincipal: 'Playfair Display', serif;
$fuenteLogo: 'Petit Formal Script', cursive;


/* Media queries */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;

/* Colores */
$rosa: #860A35;
$claro: #F3F3F3; 
$blanco:  #fff;
$negro: #282828;


/* Unidades */
$separacion: 5rem;

