
/* Fuentes */
$fuentePrincipal: 'Roboto', sans-serif;

/* Media queries */
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Colores */
$rosa: #efb3cb;
$morado: #dde1ea;
$verde: #edead7;
$blanco:  #fff;
$negro: #282828;


/* Unidades */
$separacion: 5rem;

