
/* Fuentes */
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteLogo:  'Beau Rivage', cursive;


/* Media queries */
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop: 992px;

/* Colores */
$rosa: #efb3cb;
$claro: #E9E8E8;
$blanco:  #fff;
$negro: #282828;


/* Unidades */
$separacion: 5rem;

