@use 'base/variables' as v;
@use 'base/mixins' as m;


.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
    margin: 0 auto;         
    width: 90%;

    @include m.tablet { 
    /*     flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; */
    }


    .galeria__categoria {
        border-radius: 1rem;
        overflow: hidden;
        border: 2px solid v.$rosa;

        @include m.tablet { 
       /*      width: 45%;       Solo para la galeria, aqui no es necesario*/
        }
        @include m.desktop { 
           /*  width: 30%; */
            
        }

        .galeria__img {
            transition-duration: .5s;
            transition-property: transform;
            width: 100%;
            height: 25rem;
            object-fit: cover;

            @include m.tablet { 
                height: 35rem;  /* Mantener para el slider */
            }

            &:hover{
                transform: scale(1.1);
            }
        }

        .galeria__descripcion {
            background-color: v.$rosa;
            color: v.$blanco;
            letter-spacing: 3px;
            padding: 1rem 0;
            position: relative;
        }
    }
}
