@use 'base/variables' as v;
@use 'base/mixins' as m;


.testimoniales {

    .testimoniales__contenido {

        background-color: v.$blanco;
        padding: v.$separacion 3rem;
        border-radius: 1rem;    /* Convervar? */

        @include m.tablet { 
            margin-top: -10rem;
            padding: 10rem 0;
        }


        .testimoniales__titulo{
            margin-bottom: 5rem; /* Necesario? */
            padding: 0 1rem;
        }
    
        .testimoniales__testimonial{
            background-color: v.$claro;
            padding: 1rem;
            margin: 0 auto;
            border-radius: 1rem;

            @include m.tablet { 
                max-width: 50%;
                padding: 4rem;
            }
    
            .testimoniales__autor {
                margin-top: 2rem;
                text-align: right;
                font-family: cursive;
            
            }
        }

    }
    
}

