@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    position: relative;
  
}

.header__titulo {

    @include m.tablet { 
        padding: 10rem 0 0 0;
    }
    
    .header__texto {
        color: v.$rosa;
        text-shadow: 0 0 5px v.$blanco;

    }
    
}

.header-inicio{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(/build/img/nosotros-hero.jpg);
  
}
.header-nosotros {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(/build/img/hero1.jpg);
}
.header-proceso{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(/build/img/proceso-hero.jpg);
}
.header-productos {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(/build/img/antojos-1.jpg);
}

.header__contacto {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(/build/img/cheesecake.jpg);
}

