@use 'base/variables' as v;
@use 'base/mixins' as m;


.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    @include m.tablet { 
        font-size: 1.4rem;
        flex-direction: row;
        gap: 2rem;
    }
    @include m.desktop { 
        font-size: 1.8rem;

    }
}